body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
}

header {
    height: auto;
    background-color: aquamarine;
}

h1 {
    margin: 8px;
} 

header, footer, main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
height: 65vh;
background-color: peachpuff;
}
  

    .roundGrid {
        height: 10vh;
       
    }

        #rockBtn, #paperBtn, #scissorBtn, #newGameBtn {
            width: 6rem;
            height: 2rem;
            border-radius: 1rem;
            background-color: aquamarine;
            
        }

    .scoreBoard, .knappBox {
        width: 20rem;
        display: flex;
        justify-content: space-evenly;
    }
        .player, .score, .computer {
            width: 15vh;
            display: flex;
    justify-content: center;
    align-items: center;
        }

        .score {
            justify-content: space-evenly;
        }
            
    .vinnare {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #winner {
        animation: fontPulse 2s infinite;
    }
    @keyframes fontPulse {
      50% {font-size: 500%;}       
    }

    #newGameBtn {
        background-color: peachpuff;
    }

footer {
    height: 20vh;
    background-color: aquamarine;
}